extends layout

block content
	h2 Uploaded File
	if vars.buffer
		img(src='data:image/#{vars.ext};base64,#{vars.buffer}')
	if vars.err
		p.err= vars.err
	else
		h1 Comments

		if vars.user
			form(method='post')
			label
				textarea(name='comment', id='comment', placeholder='Give comment :D')
			button Submit Comment