extends layout

block content
	h2 Uploaded File
	if vars.buffer
		img(src='data:image/#{vars.ext};base64,#{vars.buffer}')
	if vars.err
		p.err= vars.err
	else
		h2 Comments

		if vars.user
			h3 New Comment
			form(method='post', action='/comment')
				p
					label(for='comment')
						textarea(name='comment', placeholder='Give comment :D').comment
				button(type='submit') Submit Comment
		else
			h3 You need to login to make a comment.