extends layout

block content
	.err
	h2 Upload
	form(enctype='multipart/form-data', method='post', action='/upload')
		button(type='submit').upload Upload
		label(for='img')
			input(type='file', name='img').img
	if vars.err
		p Upload Failed:
		| #{vars.err}
	if vars.url
		a(href=vars.url) #{vars.url}
