doctype html
html(lang='is')
	head
		title IMGAR VEF2015
		link(rel='stylesheet', href='/stylesheets/layout.css')
		link(rel='stylesheet', href=cssSrc)
		script(text='javascript', src=jsSrc)
	body
		.menu
			.logo
				img(src='/images/imgar-logo.png', alt='imgar-logo')
			h1 Welcome to IMGAR
			.items
				p Placeholder
		.wrapper
			.account
				if vars.user
					p You are logged in as #{vars.user}
					form(method='get', action='/logout')
						button(type='submit') Logout
				else
					.form.formLogin
						h2 Login
						form(method='post', action='/login')
							p
								label(for='usr')
									| Username: 
									input(name='usr').usr
							p
								label(for='pwd')
									| Password: 
									input(type='password', name='pwd').pwd
							button(type='submit') Login
					.form.formRegister
						h2 Register
						form(method='post', action='/register')
							p
								label(for='usr')
									| Username: 
									input(name='usr').usr
							p
								label(for='pwd')
									| Password: 
									input(type='password', name='pwd').pwd
							button(type='submit') Register
			.content
				block content