doctype html
html(lang='is')
	head
		title IMGAR VEF2015
		link(rel='stylesheet', href='/stylesheets/layout.css')
		link(rel='stylesheet', href=cssSrc)
		script(type='text/javascript', src='/javascripts/layout.js')
		script(type='text/javascript', src=jsSrc)
	body
		.menu
			.logo
				img(src='/images/imgar-logo.PNG', alt='imgar-logo').logoImg
			h1 Welcome to IMGAR
			.items
				if vars.user
					p You are logged in as #{vars.user}
					form(method='post', action='/logout')
						button(type='submit') Logout
				else
					p Login/SignUp
		unless vars.user
			.account
				.accountMid
					.forms
						.form.formLogin
							h2 Login
							form(method='post', action='/login')
								p
									label(for='usrLog')
										| Username: 
										input(name='usr')#usrLog
								p
									label(for='pwdLog')
										| Password: 
										input(type='password', name='pwd')#pwdLog
								button(type='submit') Login
						.form.formRegister
							h2 Register
							form(method='post', action='/register')
								p
									label(for='usrReg')
										| Username: 
										input(name='usr')#usrReg
								p
									label(for='pwdReg')
										| Password: 
										input(type='password', name='pwd')#pwdReg
								button(type='submit') Register
		.wrapper
			.content
				block content