extends layout

block content
	h2 Upload
	form(enctype='multipart/form-data', method='post')
		button(type='submit') Upload
		label(for='img')
			input(type='file', name='img').img
	p Outside form
	if img
		p= img
	if err
		p= err
