* {
	border: solid 1px #F38630;
	/*border: solid 1px;*/
}
body {
	background-color: #A7DBD8;
	margin: 0;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
	color: #00B7FF;
}
.menu {
	background-color: #69D2E7;
	display: flex;
	justify-content: space-between;
}
.menu h1 {
	margin: 0;
}
.menu .logo, .items {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.menu div p {
	margin: 0;
}
.wrapper {
	padding: 5%;
	background-color: #E0E4CC;
	max-width: 600px;
	margin: 0 auto;
}
.account .form {
	display: table-cell;
	width: 50%;
	box-sizing: border-box;
}
img {
	border: solid 4px;
	border-color: #F38630;
	position: relative;
	width: 100%;
}