* {
	/*border: solid 1px #F38630;*/
	/*border: solid 1px;*/
}
body {
	background-color: #FFB981;
	margin: 0;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
	color: #00B7FF;
}
.menu {
	max-height: 42px;
	position: relative;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
	background-color: #FFA258;
	box-shadow: 0 0 1px 0;
}
.menu h1 {
	margin: 5px 0;
}
.menu .logo, .items {
	max-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.menu .logo img {
	max-height: 42px;
}
.menu div p {
	margin: 0;
}
.wrapper {
	position: relative;
	background-color: #60BFBB;
	box-shadow: 0 0 1px 0;
	max-width: 600px;
	margin: 0 auto;
}
.wrapper > * {
	padding: 5%;
}
.account{
	display: flex;
	flex-direction: row;
	justify-content: center;
} 
.account .form {
	width: 50%;
	box-sizing: border-box;
}
.hidden {
	display: none;
}