* {
	/*border: solid 1px #F38630;*/
	/*border: solid 1px;*/
}
body {
	background-color: #FFB981;
	margin: 0;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
	color: #00B7FF;
}
.menu {
	max-height: 20%px;
	position: relative;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
	background-color: #FFA258;
	box-shadow: 0 0 1px 0;
}
.menu h1 {
	margin: 5px 0;
}
.menu .logo, .items {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.menu .logo img {
	max-height: 42px;
}
.menu .logo img:active {
	box-shadow: 0 0 2px 0 inset;
}
.menu .items:active {
	box-shadow: 0 0 2px 0 inset;
}
.menu .items p {
	height: 100%;
}
.menu div p {
	margin: 0;
}
.account {
	display: none;
	flex-direction: row;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}
.account .accountMid {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	z-index: 1;
}
.account .accountMid .forms {
	display: flex;
	border-radius: 10px;
	flex-direction: row;
	background-color: #FFF;
	box-shadow: 0 0 20px 0 inset;
	justify-content: center;
	position: relative;
	overflow: hidden;
	padding: 20px;
	z-index: 10;
}
.account .accountMid .forms .form {
	width: 50%;
	box-shadow: 0 0 20px 0;
	box-sizing: border-box;
	display: inline-block;
	position: relative;
	padding: 20px;
	/*z-index: 20;*/
}
.wrapper {
	position: relative;
	background-color: #60BFBB;
	/*background-color: rgba(0.3764, 0.7490, 0.7333, 0.5);*/
	box-shadow: 0 0 1px 0;
	max-width: 600px;
	margin: 0 auto;
}
.wrapper > * {
	padding: 5%;
}