* {
	font-family: "Times New Roman", Times, serif;
}
body {
	text-align: center;
}
form {
	max-width: 600px;
	margin: 0 auto;
}
form fieldset legend {
	font-size: 40px;
	font-weight: bold;
	background-color: #FFF;
	text-align: left;
	margin-left: 20px;
}
form fieldset div {
	max-width: 600px;
	margin: 0 auto;
	border: solid 2px;
	border-radius: 5px;
}
form fieldset div ul {
	position: relative;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}
form fieldset div ul li {
	text-align: left;
}
form fieldset .valid {
	border-color: #00B30C;
	background-color: #7EBF83;
	color: #006B07;
}
form fieldset .invalid {
	border-color: #CC0000;
	background-color: #D9B0B0;
	color: #c00;
}
form fieldset p {
	text-align: left;
}
form fieldset p .left {
	width: 60%;
	margin-left: 10%;
	box-sizing: border-box;
}
form fieldset p .right {
	width: 30%;
	box-sizing: border-box;
	float: right;
}
/*form fieldset {
	text-align: left;
	border-radius: 5px;
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}*/
/*form fieldset input {
	border-radius: 3px;
	border-width: 1px;
}
form fieldset input.error {
	border-color: #f00;
	background-color: #D9B0B0;
}
form fieldset span.error {
	color: #c00;
	font-style: italic;
}*/
form fieldset .submit {
	border-radius: 10px;
	width: 100%;
	max-width: 400px;
}
button {
	font-size: 16px;
	color: #00850F;
	text-shadow: 1px 1px #aaa;
	
	border-width: 1px;
	padding: 5px;

	margin: 0 auto;
	position: relative;

	background-color: #00E2FF;
	transition: background ease-in-out 1s,
		color ease-in-out 1s,
		text-shadow ease-in-out 1s;
}
button:hover {
	background-color: #000;
	color: #f00;
	text-shadow: 1px 1px #00850F;
}
.return {
	font-family: "Comic Sans MS", cursive, sans-serif;
	border-radius: 30px;
}